.container {
  display: flex;
}
.left {
  flex: 0 0 27%;
  background: #323030;
  color: #fff;
  padding-left: 10px;
}
.right {
  flex: 0 0 72%;
}
.sidebar-tabs {
  cursor: pointer;
  font-size: 18px;
}
.AddFileIcon,
.AddFolderIcon {
  display: none;
}
.header-container {
  padding: 12px;
  background: #151515;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.save-button {
  background-color: #221d1d;
}
.save-icon {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}
