.container{
    display: flex;
}
.left{
    flex: 0 0 30%;
    background: #323030;
    color: #fff;
    padding-left: 10px;
}
.right{
    flex: 0 0 68%;
}
.sidebar-tabs{
    cursor: pointer;
    font-size: 18px;
}
.FolderTree .CheckBox{
    display: none !important;
}